
#menu, #contact {
  background: #f0f0f0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.mapa-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-image: url('../img/map.jpg');
}


/* footer section */
footer {
  background: url('../imagenes/cheesecake.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer h2 {
  
  padding-bottom: 14px;
}
footer h3 {
  padding-top: 8px;
}
footer p {
  color: #ffffff;
}
footer span {
  font-weight: bold;
  padding-left: 24px;
}
footer .ph, footer .address {
  padding-top: 12px;
  padding-bottom: 12px;
}
footer .fa {
  font-size: 12px;
  padding-right: 10px;
}

/* social icon */
.social-icon2 {
  padding: 0;
}
.social-icon2 li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.social-icon2 li a {
  background: #f0f0f0;
  border-radius: 50%;
  color: #5C5C5C;
  font-size: 16px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 12px;
  margin-right: 16px;
  top: 0;
  position: relative;
  padding: 0;
}
.social-icon2 li a:hover {
  background:  #00c6d7;
  top: 5px;
}

/* copyright section */
#copyright {
  background: #444242;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#copyright p {
  color: #ffffff;
}
#copyright a {
  color: #ffffff;
}
#copyright a:hover {
  color: #F0F1F2;
}

mensaje h3{
    margin-top: 20px;
    margin-bottom: 10px;
}


.slider {
	max-width: 100%;
}

.slider {
	border:0px solid #000;
    
}


.slider-galeria img {
	max-width: 100%;
	width:100%;
}


.iframe_mapa {
	position:relative;
}


.iframe_mapa .ratio {
	display: block;
	width: 100%;
	height: 500px;
}

.iframe_mapa iframe {
	position:absolute;
	top:0;left:0;
	width:100%;
	height:500px;
	min-height: 300px;
}
